@model AspMonaMvc.Models.CastingModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CastingModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImageContent.ImageUrlName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageContent.ImageUrlName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CastHeader)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CastHeader)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CastResumeHeader)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CastResumeHeader)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
